/slurm_log/
/finalTest/
/output/
/output_archived/
/sim_output_150_20210830/
sim_output_150_20210830/*
*.trees
*.vcf
*.gz
*.DS_store
*.Rhistory
simoutput*
sim_output*
run20210920*
graphics_*
env.RData
old*
examples*
*pcaProject
graphs*
figures_20220201*
archived/*
src/archived/*
